@import './font.scss';
@import './colors.scss';
@import './responsive.scss';

.radar_box {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .box {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 60%;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 2em;
        box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.2);
        @include mobile {
            width: 80%;
            height: 65vh;
        }
        .inner_box {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            @include mobile {
                height: 70vh;
            }
            @include mobile_xs {
                height: 60vh;
            }
            div {
                .radar_title {
                    font-family: $spaceGrotesk;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $darkGrey;
                    text-align: center;
                    @include mobile {
                        font-size: 1.2rem;
                    }
                    @include mobile_xs {
                        font-size: 1rem;
                    }
                }
            }
            div {
                .description {
                    font-family: $spaceGrotesk;
                    font-size: 0.85rem;
                    font-weight: 400;
                    color: $grey;
                    text-align: center;
                    line-height: 1.25;
                    @include mobile {
                        font-size: 0.75rem;
                    }
                    @include mobile_xs {
                        font-size: 0.65rem;
                    }
                }
            }
            .icon_container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1.5rem;
                @include mobile {
                    margin-top: 1rem;
                }
                @include mobile_xs {
                    margin-top: 0.5rem;
                }
            }
        }
        .tutorial_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            .tutorial_inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50%;
                text-align: justify;
                margin-top: 1rem;
                @include mobile {
                    height: 60%;
                    margin-top: 0.8rem;
                }
                @include mobile_xs {
                    height: 30%;
                    margin-top: 0.5rem;
                }
                .tutorial_title {
                    font-family: $spaceGrotesk;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $darkGrey;
                    text-align: center;
                    margin-bottom: 0.8rem;
                    line-height: 1;
                    @include mobile {
                        font-size: 0.85rem;
                    }
                    @include mobile_xs {
                        font-size: 0.75rem;
                    }
                }
                .tutorial_text {
                    font-family: $spaceGrotesk;
                    font-size: 0.85rem;
                    font-weight: 400;
                    color: $grey;
                    text-align: justify;
                    line-height: 1;
                    @include mobile {
                        font-size: 0.75rem;
                    }
                    @include mobile_xs {
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
}