@import './font.scss';
@import './colors.scss';
@import './responsive.scss';

.reset_password {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .box {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 60%;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 2em;
        box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.2);
        @include mobile {
            width: 80%;
            height: 65vh;
        }
        .inner_box {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            @include mobile {
                height: 70vh;
            }
            @include mobile_xs {
                height: 60vh;
            }
        }
    }
}